/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.cursor-pointer{
    cursor: pointer;
}

.center-align-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-bold
{
    font-weight: bold;
}

/*
    Materialize custom addon
*/
.chip .chip-icon {
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}

.width-80percent{
    width: 80%;
}
