<div class="container" *ngIf='people && detail'>
  <h4 class="center">Detail</h4>

  <div class="container">
    <!-- ALERT TAG -->
    <div class='row'>
      <div class='col s12'>Notices:</div>
      <app-alert-tag-banner [people]='people' [detail]='detail'></app-alert-tag-banner>
    </div>
    
    <!-- THE REST -->
    <div *ngIf='detail'>
      <div class="row">
        <!-- DATE -->
        <div class="col s2 m1">Date: </div>
        <input type="text" class="col s4 m3 l2 browser-default" disabled='true' value="{{GetDate(detail.create_at)}}">

      </div>

      <!-- DETAIL BODY -->
      <div class="col s12">Note:</div>
      <div class="col s12">{{detail.body}}</div>
    </div>
    
    <br>
    <div class="row">
      <button class="btn left" [disabled]='previousId == ""' (click)='PreviousDetail()'>Previous</button>
      <button class="btn right" [disabled]='nextId == ""' (click)='NextDetail()'>Next</button>
    </div>
  </div>
  <br>
  <button class="btn" (click)='RouteBack()'>Back</button>
</div>