<!-- display tags -->
<div *ngIf='alertTags'>
  <app-alert-tag-list [tagList]='alertTags'></app-alert-tag-list>
  <button *ngIf='showForm == false' class="btn btn-floating blue" (click)='ShowForm()'>
    <i class="material-icons">add</i>
  </button>
  <button *ngIf='showForm' class="btn btn-floating orange" (click)='HideForm()'>
    <i class="material-icons">remove</i>
  </button>
</div>

<!-- form to add tag -->
<div *ngIf='showForm'>
  <form [formGroup]='compFormService.form' (submit)='AddAlertTag()' novalidate>
    <div class="row">
      <div class="col s3 input-field">
        <md-select [style.width]="'100%'" placeholder="Alert type" formControlName='alertType'>
          <md-option *ngFor='let type of alertTypes' [value]='type'>
            {{type}}
          </md-option>
        </md-select>
      </div>
    </div>
    
    <div class="row">  
      <div class="col s3 input-field">
        <label for="msg">Alert message</label>
        <textarea class='materialize-textarea' id="msg" formControlName='msg'></textarea>
      </div>
    </div>
    <button class='btn' type='submit' [disabled]='compFormService.form.valid == false'>Add</button>
  </form>
</div>