<!-- display tags -->
<div *ngIf='alertTags'>
  <div *ngIf='alertTags'>
    <span *ngFor='let tag of alertTags' [ngSwitch]='tag.alertType'>
      <div *ngSwitchDefault class="chip gray black-text col"> <!--default: note-->
        <span>{{tag.alertType}}</span>
        <i class='material-icons chip-icon'>cloud</i>
      </div>
      <div *ngSwitchCase='AlertTypes[0]' class="chip orange white-text col"> <!--attention-->
        <span>{{tag.alertType}}</span>
        <i class="material-icons chip-icon">error</i>
      </div>
      <div *ngSwitchCase='AlertTypes[1]' class="chip green white-text col"> <!--reminder-->
        <span>{{tag.alertType}}</span>
        <i class="material-icons chip-icon">alarm</i>
      </div>
      <div *ngSwitchCase='AlertTypes[2]' class="chip red white-text col pulse"> <!--urgent-->
        <span>{{tag.alertType}}</span>
        <i class="material-icons chip-icon">warning</i>
      </div>
      <div *ngSwitchCase='AlertTypes[3]' class="chip red white-text col"> <!--alert-->
        <span>{{tag.alertType}}</span>
        <i class="material-icons chip-icon">warning</i>
      </div>
    </span>
    <button *ngIf='showForm == false' class="btn btn-floating blue" (click)='ShowForm()'>
      <i class="material-icons">add</i>
    </button>
    <button *ngIf='showForm' class="btn btn-floating orange" (click)='HideForm()'>
      <i class="material-icons">remove</i>
    </button>
  </div>
</div>

<!-- form to add tag -->
<div *ngIf='showForm'>
  <form [formGroup]='compFormService.form' (submit)='AddAlertTag()' novalidate>
    <div class="row">
      <div class="col s3 input-field">
        <md-select [style.width]="'100%'" placeholder="Alert type" formControlName='alertType'>
          <md-option *ngFor='let type of AlertTypes' [value]='type'>
            {{type}}
          </md-option>
        </md-select>
      </div>
    </div>
    
    <div class="row">  
      <div class="col s3 input-field">
        <label for="msg">Alert message</label>
        <textarea class='materialize-textarea' id="msg" formControlName='msg'></textarea>
      </div>
    </div>
    <button class='btn' type='submit' [disabled]='compFormService.form.valid == false'>Add</button>
  </form>
</div>